*{
    box-sizing: border-box;
}
body{
    background-color: #D7AF70;
}
.recipe-title{
    font-family: Cambria;
    text-align: center;
    color: #272838;
}
.food-img{
    margin-left:0px;
    margin-right: 0px;
    object-fit: cover;
    width: 98vw;
    height: 20vw;
    display: block;
}
.sub-heading{
    font-family: Calibri;
}
.description-paragraph{
    font-family: inherit;
    font-size: 1.2rem;
    margin-left:10px;
}
.ingredients-list,.steps-list{
    font-size: 1.2rem;
}